li {
  list-style-type: none;
}

p {
  display: inline-flex;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: space-around;
  margin: 0;
}

.word-cloud {
  display: flex;
  flex: 1 1 100%;
  margin: 2em 5em;
}

.word-cloud-list {
  display: flex;
  flex-wrap: wrap;
}

.blue-text {
  color: blue;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.orange-text {
  color: orange;
}

.extra-large-text {
  font-size: 50px
}

.large-text {
  font-size: 40px
}

.medium-text {
  font-size: 30px
}

.small-text {
  font-size: 20px
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.center-aligned-text {
  align-items: center;
}

.bottom-aligned-text {
  align-items: flex-end;
}

.top-aligned-text {
  align-items: flex-start;
}
